@import "tailwindcss";
 body {
            font-family: 'Roboto', sans-serif;
            background-color: #f4f4f5; 
        }
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            background-color: #3b82f6; 
            border-radius: 50%;
            cursor: pointer;
            margin-top: -6px;
            transition: background-color 0.2s;
        }
        input[type="range"]::-moz-range-thumb {
            width: 20px;
            height: 20px;
            background-color: #3b82f6; 
            border-radius: 50%;
            cursor: pointer;
        }
        input[type="range"]:hover::-webkit-slider-thumb {
            background-color: #1e40af; 
        }
        input[type="range"]:hover::-moz-range-thumb {
            background-color: #1e40af; 
        }